<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{ 'index.html' | relative_url }}">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ 'contact.html' | relative_url }}">Contact</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ 'categories.html' | relative_url }}">Categories</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://github.com/sami-amer">Github <i class="fab fa-github"></i></a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://blog.sami.ps">Blog </a>
</li>
